<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body dir="rtl">
    
    <div id="divOverlay" class="ui-widget-overlay ui-front noDisplay modalSpinner">
    </div>
    <img class="modalSpinner noDisplay" src="~/Images/loading.gif" />

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="float: right">
                @Html.ActionLink("סיכום פגישות", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div align="center">
                <p>@DateTime.Now.Year - SYSA &copy;</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap", "~/Scripts/global.js")
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
    @Scripts.Render("~/Content/DataTables/js/jquery.dataTables.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
