@using MeetingSummary.Models
@model MeetingData
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">סיכום פגישה חדשה</h4>
</div>
<div class="modal-body" id="newSummaryModal">
    <fieldset style="width: 100%; direction: rtl;">
        <div>
            @Html.HiddenFor(model => Model.Id)
            <p>
                <span class="bold under">תאריך:</span>
                <input type='text' class="form-control datetimepicker short-input" id='creationDate' />
                <script type="text/javascript">
                    $(function () {
                        $('.datetimepicker').datetimepicker({
                            defaultDate: @(Model == null ? "moment().valueOf()" : Model.CreationDate.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds.ToString()),
                            format: 'DD/MM/YYYY'
                        });
                    });
                </script>
            </p>
            <p class="bold under">נושא הפגישה</p>
            <div><p>@Html.TextBoxFor(model => Model.MeetingSubject, new { @class = "form-control" })</p></div>
            <p class="bold under">סיכום הפגישה</p>
            <p>@Html.TextAreaFor(model => Model.MeetingSummary, new { @class = "form-control", cols = "50", rows = "10" })</p>
            <fieldset style="width: 100%;">
                <p class="bold under">משימות לפגישה הבאה</p>
                <p>
                    <div id="divTasks">
                        @Html.Partial("Tasks", Model != null ? Model.MeetingTasks : null)
                    </div>
                    <div style="padding-top: 5px;">
                        <button type="button" class="btn btn-default add-btn" aria-label="Left Align" onclick="addNewDataRow('Tasks');">הוסף משימה<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                    </div>
                </p>
            </fieldset>
            <fieldset style="width: 100%;">
                <p class="bold under">מטלות שיש לבצע עד לפגישה הבאה</p>
                <p>
                    <div id="divAssignments">
                        @Html.Partial("Assignments", Model != null ? Model.MeetingAssignments : null)
                    </div>
                    <div style="padding-top: 5px;">
                        <button type="button" class="btn btn-default add-btn" aria-label="Left Align" onclick="addNewDataRow('Assignments');">הוסף מטלה<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                    </div>
                </p>
            </fieldset>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button id="saveForm" class="btn btn-default" onclick='saveSummary(@((Model != null) ? "true" : "false"));'>שמור</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()">בטל</button>
</div>
