@using MeetingSummary.Models
@model MeetingData
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">סיכום פגישה חדשה</h4>
</div>
<div class="modal-body" id="newSummaryModal">
    <fieldset style="width: 100%; direction: rtl;">
        <div>
            @Html.HiddenFor(model => Model.Id)
            <p>
                <span class="bold under">תאריך:</span> @Html.Raw(DateTime.Now.ToShortDateString())
            </p>
            <p class="bold under">סיכום הפגישה</p>
            <p>@Html.TextAreaFor(model => Model.MeetingSummary, new { cols = "50", rows = "10" })</p>
            <p class="bold under">משימות לפגישה הבאה</p>
            <p>
                <div id="divTasks">
                    <ul class="list-group-item" id="ulTasks">
                        @if (Model != null)
                        {
                            foreach (var task in Model.MeetingTasks)
                            {
                                <li>@Html.TextBoxFor(model => task.Description, null, new { @class = "tbTasks" })</li>
                            }
                        }
                    </ul>
                </div>
                <button type="button" class="btn btn-default" onclick="addNewDataRow('Tasks', '');">הוסף משימה</button>
            </p>
            <p class="bold under">מטלות</p>
            <p>
                <div id="divAssignments">
                    <ul class="list-group-item" id="ulAssignments">
                        @if (Model != null)
                        {
                            foreach (var assignment in Model.MeetingAssignments)
                            {
                                <li>
                                    @Html.TextBoxFor(model => assignment.Description, null, new { @class = "tbAssignments" })
                                    @Html.DropDownListFor(model => assignment.Users, new SelectList(ViewBag.Users, "Id", "Email", assignment.AssignedToUserId), new { @class = "ddlUsers" })
                                </li>
                            }
                        }
                    </ul>
                </div>
                @{
                    var usersDDL = Html.DropDownList("users", new SelectList(ViewBag.Users, "Id", "Email"), new { @class = "ddlUsers" }).ToString().Replace(Environment.NewLine, "");
                }
                <button type="button" class="btn btn-default" onclick="addNewDataRow('Assignments', '@usersDDL');">הוסף מטלה</button>
            </p>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button id="saveForm" class="btn btn-default" onclick='saveSummary(@((Model != null) ? "true" : "false"));'>שמור</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()">בטל</button>
</div>
